{% extends 'student/student-base.html' %}
{% load static %}
{% load tz %}
{% load api_extras %}

{% block student-head %}
    <title>CMS Online Academy | Schedule</title>
    <style>
        .calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}
    </style>
{% endblock %}

{% block student-body %}
<div class="tab-pane fade show active" role="tabpanel" >
    <div class="row py-3 px-3">
        <div class="col col-md-4">
            <a class="btn btn-info left" href="{{ request.path }}?{{ prev_month }}"> Previous Month </a>
        </div>
        <div class="col col-md-4">
            {% get_current_timezone as TIME_ZONE %}
            <form action="{% url 'set_timezone' %}" method="POST" id="set-time">
                {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <select name="timezone" id="timezone">
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set" class="btn-small btn-info">
            </form>
        </div>
        <div class="col col-md-4">
            <a class="btn btn-info right" href="{{ request.path }}?{{ next_month }}"> Next Month </a>
        </div>
<!--        <a class="btn btn-info right" href="{% url 'event_new' %}">New event</a>-->
    </div>
    {{calendar}}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
  $("#set-time").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
           success: function(data)
           {
               alert(data.message);
               location.reload();
           },
           error: function(data) {
            alert("Can't set timezone");
           }
        });
  });
</script>
{% endblock %}