{% extends 'student/student-base.html' %}
{% load static %}

{% block student-head %}
    <title>CMS Online Academy | Courses</title>
{% endblock %}

{% block student-body %}
<div class="tab-pane fade show active" role="tabpanel">
    <!-- CURRENT AND HISTORY COURSE TABS -->
    <nav>
        <div class="courses-tabs nav nav-tabs active" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active ml-5" id="nav-current-course-tab" data-toggle="tab"
               href="#nav-current-course" role="tab" aria-controls="nav-current-course"
               aria-selected="true">Current</a>
            <a class="nav-item nav-link" id="nav-history-course-tab" data-toggle="tab"
               href="#nav-history-course" role="tab" aria-controls="nav-history-course"
               aria-selected="false">History</a>
        </div>
    </nav>

    <!--  CURRENT AND HISTORY COURSE TAB CONTENT-->
    <div class="tab-content ml-sm-4 mx-md-5" id="courses">
        <!-- CURRENT COURSE TAB CONTENT -->
        <div class="tab-pane active" id="nav-current-course" role="tabpanel"
             aria-labelledby="nav-current-course-tab">
            <div class="card-columns mx-auto">
                {% for enrollment in enrollments %}
                    <a href="{% url 'student-course' enrollment.course.id %}">
                        <div class="card my-3 mx-auto ">
                            <div class="card-body pb-0 h-100 w-100">
                                <h5 class="card-title text-large">{{ enrollment.course.name }}</h5>
                                <ul class="list-unstyled text-small">
                                    <li><strong>{{ enrollment.course.category.category }}</strong></li>
                                    <li>Grade: <strong>{{ enrollment.course.get_grade_display }}</strong></li>
                                    <li>Level: <strong>{{ enrollment.course.level }}</strong></li>
                                    <li>{{ enrollment.get_days_display }}</li>
                                    <li>{{ enrollment.start_time }} - {{ enrollment.end_time }}</li>
                                </ul>
                            </div>
                            <div class="card-footer">
<!--                                <ul class="list-unstyled text-small mb-0" style="color:#0060CF">-->

<!--                                </ul>-->
                                <a class="btn btn-primary" role="button" href="{{ enrollment.course.course_link }}">Join class</a>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                
            </div>
        </div>

        <!-- HISTORY COURSE TAB CONTENT -->
        <div class="tab-pane" id="nav-history-course" role="tabpanel"
             aria-labelledby="nav-history-course-tab">
            <div class="card-columns mx-auto">
                <div class="card my-3 mx-auto ">
                    <div class="card-body pb-0">
                        <h5 class="card-title text-large">Python Level 2</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <ul class="list-unstyled text-small mb-0" style="color:#0060CF">
                            <li>Mon, Wed, Fri</li>
                            <li>5PM - 6PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}