{% extends 'student/student-base.html' %}
{% load static %}
{% load api_extras %}

{% block student-head %}
    <title>CMS Online Academy | Progress</title>
{% endblock %}

{% block student-body %}
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        {% for enrollment in enrollments %}
            {% if enrollment.purchase.payment_method != 2 %}
                <li class="nav-item">
                    <a class="nav-link{% if forloop.first %} active{% endif %}" id="pills-{{ enrollment.course.id }}-tab"
                       data-toggle="pill" href="#pills-{{ enrollment.course.id }}"
                       role="tab" aria-controls="pills-{{ enrollment.course.id }}"{% if forloop.first %}
                       aria-selected="true"{% endif %}>{{ enrollment.course.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content" id="pills-tabContent">
        {% for enrollment in enrollments %}
            {% if enrollment.purchase.payment_method != 2 %}
                <div class="tab-pane fade show{% if forloop.first %} active{% endif %}"
                 id="pills-{{ enrollment.course.id }}"
                 role="tabpanel"
                 aria-labelledby="pills-{{ enrollment.course.id }}-tab">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <div class="text-center text-large">
                            <p>Assignment Tracker</p>
                        </div>
                        <table class="assign-table text-normal mx-auto text-center">
                            <thead>
                                <tr>
                                    <th>Assignment</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            {% for project in enrollment.course.project_set.all %}
                                <tr>
                                    <td>{{ project.name }} 1</td>
                                    {% status project me as status %}
                                    <td style="color: {% if status.0 == 'complete' %}green{% else %}red{% endif %};">{{ status.0 | title }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center text-large">
                            <p>Test Tracker</p>
                        </div>
                        <table class="assign-table text-normal mx-auto text-center">
                            <thead>
                                <tr>
                                    <th>Test</th>
                                    <th>Status</th>
                                    <th>Marks</th>
                                </tr>
                            </thead>
                            {% for exam in enrollment.course.exam_set.all %}
                                <tr>
                                    <td>{{ exam.name }}</td>
                                    {% status exam me as status %}
                                    <td style="color: {% if status.0 == 'complete' %}green{% else %}red{% endif %};">{{ status.0 | title }}</td>
                                    <td>{{ status.1.marks }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}