{% extends 'customer/customer-base.html' %}
{% load static %}
{% load api_extras %}

{% block student-head  %}
<title>Shop 3D Prints | Orders</title>
{% endblock %}

{% block student-body %}
<div class="container-fluid">
    <h1 class="mx-2"><u>Orders</u></h1>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Service provider</th>
                    <th scope="col">Ordered on</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for ord in orders.all %}
                <tr class='{{ord.order_status|status_class}}'>
                    <td>{{ord.product}}</td>
                    <td>{{ord.quantity}}</td>
                    <td>{{ord.service_provider}}</td>
                    <td>{{ord.ordered_on}}</td>
                    <td>{{ord.order_status|status_name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}