{% extends 'customer/customer-base.html' %}
{% load static %}
{% load api_extras %}

{% block student-head %}
    <title>Shop 3D Prints | Products</title>
{% endblock %}

{% block student-body %}
<div class="tab-pane fade show active" role="tabpanel">
    <!-- CURRENT Product TABS -->
    <nav>
        <div class="courses-tabs nav nav-tabs active" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active ml-5" id="nav-current-course-tab" data-toggle="tab"
               href="#nav-current-course" role="tab" aria-controls="nav-current-course"
               aria-selected="true">Cart</a>
        </div>
    </nav>
    <div class="tab-content ml-sm-4 mx-md-5" id="courses">
        <!-- CURRENT Product TAB CONTENT -->
        <div class="tab-pane active" id="nav-current-course" role="tabpanel"
             aria-labelledby="nav-current-course-tab">
            <p class="text-info text-small px-2">(Note: Click on a product to view details)</p>
            <div class="container-fluid">
                <div class="card-columns mx-auto">
                    {% for prod in products %}
                    <a href="{% url 'product-details' prod.pk %}">
                        <div class="card my-3 mx-2">
                            <div class="card-body pb-0 ">
                                <h5 class="card-title text-large">{{ prod.name }}</h5>
                                <ul class="list-unstyled text-small">
                                    <li>Category: <strong>{{ prod.category }}</strong></li>
                                    <li>Material: <strong>{{ prod.material }}</strong></li>
                                    <li>Density: <strong>{{ prod.density }}</strong></li>
                                    <li>Layer height: <strong>{{ prod.layer_height }}</strong></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}