{% extends 'customer/customer-base.html' %}
{% load static %}
{% load api_extras %}

{% block student-head %}
<title>Shop 3D Prints | Product Details</title>
{% endblock %}

{% block student-body %}
<!-- COURSE TITLE-->
<div class="px-3">
    <h3 class="text-center">
        <a href="{% url 'customer-products' %}">
            <i class="fas fa-arrow-circle-left" style="float: left;"></i>
        </a>
        {{ product.name }}
    </h3>
</div>

<!-- Details and Orders details TABS -->
<nav>
    <div class="courses-tabs nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active ml-1" id="nav-details-tab" data-toggle="tab" href="#nav-details"
           role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
        <a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders"
           role="tab" aria-controls="nav-orders" aria-selected="false">Orders</a>
    </div>
</nav>

<!-- Details and Orders TAB CONTENTS -->
<div class="tab-content" id="tabs">

    <!-- Details TAB CONTENTS -->
    <div class="assignments tab-pane active" id="nav-details" role="tabpanel"
         aria-labelledby="nav-details-tab">
        <section class="container py-3">
            <form action="{% url 'update_cart' product.pk %}" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" value="{{product.name}}" class="form-control" name="name" id="name" required/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="description" id="description"
                              required>{{product.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="material_list">Available materials</label>
                    <select name="material" class="form-control" id="material_list" required>
                        {% for cat_mat in category_material.all %}
                        <option {% if product.material.pk == cat_mat.pk %} selected {% endif %}
                                value="{{cat_mat.material.pk}}">{{ cat_mat.material.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="material_list">Density</label>
                    <select name="density" class="form-control" id="density_list" required>
                        {% for den in density_list.all %}
                        <option {% if product.density.pk == den.pk %}selected {% endif %} value="{{den.pk}}">{{ den.value }}%
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="material_list">Layer Height</label>
                    <select name="layer_height" class="form-control" id="layer_height_list" required>
                        {% for lh in layer_height_list.all %}
                        <option {% if product.layer_height.pk == lh.pk %} selected {% endif %} value="{{lh.pk}}">{{ lh.start_value }} - {{lh.end_value}} {{lh.unit}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="old_stl_file">Current STL file</label>
                        <a class="text-primary" id="old_stl_file" href="{{product.stl_file.url}}">{{product.stl_file.name}}</a>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="stl_file">Upload New CAD file (supported format: stl)</label>
                            <input type="file" accept=".pdf, application/vnd.sealedmedia.softseal.pdf"
                                   class="form-control-file"
                                   id="stl_file" name="stl_file"/>
                        </div>
                    </div>
                </div>
                <input type="number" value="{{me.pk}}" name="customer_id" hidden>
                <input type="number" value="{{category.pk}}" name="category" hidden>
                {% if me %}
                <button type="submit" class="btn btn-large custom-btn">Update</button>
                {% else %}
                <button onclick="showAlert('Login required', 'Login or register to update products in cart')"
                        class="btn btn-large custom-btn">Update
                </button>
                {% endif %}
            </form>
        </section>
    </div>

    <!-- Orders TAB CONTENTS -->
    <div class="assignments tab-pane" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
        <div class="mx-3 my-3">
            <form action="{% url 'add_order' %}" methos="post" class="form" id="order-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input class="form-control" type="number" id="quantity" name="quantity">
                </div>
                <div class="form-group">
                    <label for="provider">Service Provider</label>
                    <select class="form-control" id="provider" name="service_provider">
                        {% for sp in service_provider %}
                            <option value="{{sp.pk}}">{{sp.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="number" value="{{product.pk}}" name="product" hidden />
                <button type="submit" class="btn btn-large btn-success">Order now</button>
            </form>
        </div>
        <div class="mx-3 my-3">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Service provider</th>
                    <th scope="col">Ordered on</th>
                    <th scope="col">Status</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ord in orders.all %}
                    <tr class="{{ord.order_status|status_class}}">
                        <td class="row">{{forloop.counter}}</td>
                        <td>{{ord.product}}</td>
                        <td>{{ord.quantity}}</td>
                        <td>{{ord.service_provider}}</td>
                        <td>{{ord.ordered_on}}</td>
                        <td>{{ord.order_status|status_name}}</td>
                        <td>{{ord.comments}}</td>
                        {% if ord.order_status == 2%}
                        <td><button onclick="stripe_pay({{ord.pk}})" class="btn-sm btn-success">Pay</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
        $(document).ready(function(){
        // Update AJAX request
        $("#order-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(),
               success: function(data)
               {
                   if(data.type == "ERROR") {
                    showAlert("Order status", data.message);
                   }
                   if(data.type == "SUCCESS") {
                       showAlert("Order status", data.message);
                       setTimeout(() => {
                        window.location.reload();
                       }, 3000)
                   }
               },
               error: function(data) {
                showAlert("Order status", data.responseJSON.message);
               }
            });
        });
    });
    function stripe_pay(order_id) {
        console.log(order_id);
        var stripe = Stripe("{{ stripe_pk }}");
        $.post('{% url 'checkout' %}', {"order_id": order_id, csrfmiddlewaretoken: '{{ csrf_token }}'}, function(response) {
            const session = JSON.parse(response);
                stripe.redirectToCheckout({sessionId: session.id});
                showAlert("Payment successful", session.message, () => {
                    window.location.replace("{% url 'customer-products' %}");
                });
        }).fail(function (data) {
            var res = JSON.parse(data.responseText);
            showAlert("Payment failed", res.message);
        });
    }
</script>
{% endblock %}