{% extends 'service_provider/service_provider-base.html' %}
{% load static %}
{% load api_extras %}

{% block instructor-head %}
<title>Shop 3D Prints | Orders</title>
{% endblock %}

{% block instructor-body %}
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Service provider</th>
            <th scope="col">Ordered on</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for ord in orders.all %}
        <tr>
            <td class="row">{{forloop.counter}}</td>
            <td>{{ord.product}}</td>
            <td>{{ord.quantity}}</td>
            <td>{{ord.service_provider}}</td>
            <td>{{ord.ordered_on}}</td>
            <td>{{ord.order_status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}