{% extends 'service_provider/service_provider-base.html' %}
{% load static %}
{% load api_extras %}

{% block instructor-head %}
<title>Shop 3D Prints | Profile</title>
<style>
        .form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}



</style>
{% endblock %}

{% block instructor-body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-8">
            <form method="post" action="{% url 'service_provider-profile-edit' %}" id="service_provider-profile-form">
                {% csrf_token %}
                <label for="instructor-form"><h3><u>Update profile</u></h3></label>
                <table class="form form-table" id="instructor-form">
                    {{ form.as_p }}
                    <tr>
                        <td>
                            <button class="btn custom-btn" type="submit">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <hr/>
</div>
<script>
        $(document).ready(function(){
        // Update AJAX request
        $("#service_provider-profile-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(),
               success: function(data)
               {
                   if(data.type == "ERROR") {
                    showAlert("Profile", data.message);
                   }
                   if(data.type == "SUCCESS") {
                       showAlert("Profile", data.message);
                   }
               },
               error: function(data) {
                showAlert("Instructor profile", data.responseJSON.message);
               }
            });
        });
    });

</script>
{% endblock %}