{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/student.css' %}">
    <style type="text/css">
        @media(max-width: 400px){

             .side-nav .flex-md-column{
              height: 36px; 
              }
              .side-nav .flex-md-column .nav-link{
                padding-top: 10px;
                padding-bottom: 8px;
                font-size: 10px;
              }
              .side-nav-content{
                margin-left: 0px;
                margin-top: 50px;
              }
        }
    </style>
    {% block instructor-head %}
    {% endblock %}

{% endblock %}

{% block body %}
    {% url 'service_provider' as base_url %}
    {% url 'service_provider_orders' as orders_url %}
    {% url 'service_provider-profile-edit' as profile_url %}
    <nav class="side-nav">
        <div class="nav flex-md-column nav-pills justify-content-around text-medium" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% if request.path == orders_url %} active {%endif%}" href="{{ orders_url }}" role="tab" >Orders</a>
            <a class="nav-link mb-md-5 {% if request.path == profile_url %} active {%endif%}" href="{{ profile_url }}" role="tab">Profile</a>
        </div>
        <div class="tab-content side-nav-content">
                {% block instructor-body %} {# lol #}
                {% endblock %}
        </div>
    </nav>
{% endblock %}