<!-- SEND QUERY -->
<div class="modal fade" id="query-popup" data-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-reg">
        <div class="card modal-content ">
            <div class="row no-gutters">
                <div class="col-sm-5 query-con">
                    <div class="card-body  text-center text-white text-medium">
                        <div class="close d-inline d-sm-none" data-dismiss="modal" aria-label="Close">&times;</div>
                        <div class="py-3 px-2">
                            <h3>Send your query</h3>
                            <br>
                            <p>Have any questions?</p>
                            <p>Send us an email and we'll reply within 2-3 business days! </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7 reg-form">
                    <div class="card-body ">
                        <div class="close d-none d-sm-inline" data-dismiss="modal" aria-label="Close">&times;</div>
                        <br>
                        <form class="mt-0 pt-0 pt-sm-5">
                            <input type="text" id="pname" class="form-control form-control-sm form-row"
                                   placeholder="ex)John Doe" required>
                            <input type="email" class="form-row form-control form-control-sm form-row" id="email"
                                   placeholder="example@email.com" required>
                            <textarea class="form-control form-control-sm form-row" id="query" name="query" rows="5"
                                      cols="33" aria-label="query textarea" placeholder="Enter your query"></textarea>

                            <div class="text-center">
                                <button type="submit" class="form-btn custom-btn">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>