{% extends 'instructor/instructor-base.html' %}
{% load static %}
{% load tz %}
{% load api_extras %}

{% block instructor-head %}
    <title>CMS Online Academy | Schedule</title>
    <style>
        .calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}
    </style>
{% endblock %}

{% block instructor-body %}
<!--ADD ATTENDANCE POPUP-->
<div class="modal fade" id="attendance-popup" data-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-reg">
        <div class="modal-content ">
            <div class="py-0 px-0 text-center text-medium">
                <div class="close" style="float: right;" data-dismiss="modal" aria-label="Close">&times;</div>
            </div>
            <div class="text-center px-5 py-2">
                <h3 class="text-center">Mark Attendance</h3>
                <form action="{% url 'event_edit_status' instructor_id 0 %}" method="post" id="exam-grade-form">
                    {% csrf_token %}
                    <table class="form py-3 px-auto">
                        <select name="status" id="attendance" class="form-control form-control-sm" required>
                            <option value=0>Present</option>
                            <option value=1>Absent</option>
                            <option value=2>Other</option>
                        </select>
                    </table>
                    <br/>
                    <input type="submit" class="btn btn-info" value="Update"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade show active" role="tabpanel" >
    <div class="row px-3 py-3">
        <div class="col col-md-4">
            <a class="btn btn-info left" href="{% url 'instructor-class-schedule' instructor_id enrollment_id %}?{{ prev_month }}"> Previous Month </a>
        </div>
        <div class="col col-md-4">
            {% get_current_timezone as TIME_ZONE %}
            <form action="{% url 'set_timezone' %}" method="POST" id="set-time">
                {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <select name="timezone" id="timezone">
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set" class="btn-small btn-info">
            </form>
        </div>
        <div class="col col-md-4">
            <a class="btn btn-info right" href="{% url 'instructor-class-schedule' instructor_id enrollment_id %}?{{ next_month }}"> Next Month </a>
        </div>
    </div>
    {{calendar}}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    function markAttendance(id) {
        $("#attendance-popup").modal('show');
        var url_mask = "{% url 'event_edit_status' instructor_id 12345 %}".replace(/12345/, id);
        $('#exam-grade-form').attr('action', url_mask)
    }
    $("#set-time").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
           success: function(data)
           {
               alert(data.message);
               location.reload();
           },
           error: function(data) {
            alert("Can't set timezone");
           }
        });
  });
</script>
{% endblock %}