{% extends 'instructor/instructor-base.html' %}
{% load static %}

{% block instructor-head %}
    <title>CMS Online Academy | Schedule</title>
{% endblock %}

{% block instructor-body %}
    <div class="container-fluid">
        <div class="card-columns mx-auto">
            {% for row in material %}
                <a href="{{ row.material_link }}">
                    <div class="card my-3 mx-auto ">
                        <div class="card-body pb-0 h-100">
                            <h5 class="card-title text-large">{{ row.course.name }}</h5>
                            <ul class="list-unstyled text-small" style="white-space:nowrap;">
                                <li><strong>{{ row.name }}</strong></li>
                                <li><p>{{ row.description }}</p></li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a class="btn custom-btn" role="button" href="{{ row.material_link }}">Open</a>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
<!--        <hr/>-->
<!--        <h3 class="text-center">Add course material</h3>-->
<!--        <form action="{% url 'instructor-class-material' instructor_id %}" method="post" id="course_material_form">-->
<!--            {% csrf_token %}-->
<!--            <table class="form form-table">-->
<!--                {{course_material_form.as_table}}-->
<!--            </table>-->
<!--            <input type="submit" class="btn btn-primary" value="Add"/>-->
<!--        </form>-->
    </div>
{% endblock %}