{% extends 'instructor/instructor-base.html' %}
{% load static %}
{% load api_extras %}
{% block instructor-head %}
<title>CMS Online Academy | Student test&assignment</title>
{% endblock %}

{% block instructor-body %}
<!--ADD GRADE POPUP-->
<div class="modal fade" id="exam-grade-popup" data-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-reg">
        <div class="modal-content ">
            <div class="py-0 px-0 text-center text-medium">
                <div class="close" style="float: right;" data-dismiss="modal" aria-label="Close">&times;</div>
            </div>
            <div class="text-center px-5 py-2">
                <h3 class="text-center">Add/Change grade</h3>
                <form method="post" id="exam-grade-form">
                    {% csrf_token %}
                    <table class="form form-table">
                        {{ exam_grade_form.as_table }}
                    </table>
                    <input type="submit" class="btn btn-info" value="Update"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade show active" role="tabpanel">
    <!-- TEST AND ASSIGNMENT TABS -->
    <nav>
        <div class="test-assignment-tabs nav nav-tabs active" id="nav-tab" role="tablist">
            <a aria-controls="nav-test" aria-selected="true" class="nav-item nav-link active ml-5"
               data-toggle="tab" href="#nav-test" id="nav-test-tab"
               role="tab">Test</a>
            <a aria-controls="nav-assignment" aria-selected="false" class="nav-item nav-link"
               data-toggle="tab" href="#nav-assignment" id="nav-assignment-tab"
               role="tab">Assignment</a>
        </div>
    </nav>
    <!--  TEST AND ASSIGNMENT TAB CONTENT-->
    <div class="tab-content ml-sm-4 mx-md-5" id="nav-test-assignment">
        <!-- TEST TAB CONTENT -->
        <div aria-labelledby="nav-test-tab" class="tab-pane active" id="nav-test"
             role="tabpanel">
            <div class="text-center text-large">
                <p>Test Tracker</p>
            </div>
            <table class="assign-table text-normal mx-auto text-center">
                <thead>
                    <tr>
                        <th>Exam</th>
                        <th>Total Points</th>
                        <th>Status</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                {% for exam in student_instructor.enrollment.course.exam_set.all %}
                    <tr>
                        <td>{{ exam.name }}</td>
                        <td>{{ exam.total_points }}</td>
                        {% status exam student_instructor.enrollment.student as status %}
                        <td style="color: {% if status.0 == 'complete' %}green{% else %}red{% endif %};">{{ status.0 | title }}</td>
                        {% if status.0 == 'complete' %}
                            <td>{{status.1.marks}}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-info nav-link text-light text-center" data-toggle="modal" data-target="#exam-grade-popup">Add/Change marks</button>
            <hr/>
            <div class="text-center text-large">
                <p>Upload new test</p>
            </div>
            <div class="container-fluid">
                <form action="{% url 'instructor-student-works' instructor_id student_instructor.enrollment.pk %}" method="post" id="update_exam">
                    {% csrf_token %}
                    <table class="form form-table">
                        {{exam_form.as_table}}
                    </table>
                    <input class="btn btn-info my-2" type="submit" value="Upload"/>
                </form>
            </div>
        </div>
        <!-- ASSIGNMENT TAB CONTENT -->
        <div aria-labelledby="nav-assignment-tab" class="tab-pane" id="nav-assignment"
             role="tabpanel">
            <div class="text-center text-large">
                <p>Assignment Tracker</p>
            </div>
            <table class="assign-table text-normal mx-auto text-center">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Status</th>
                    </tr>
                </thead>
                {% for project in student_instructor.enrollment.course.project_set.all %}
                <tr>
                    <td>{{ project.name }}</td>
                    {% status project student_instructor.enrollment.student as status %}
                    <td style="color: {% if status.0 == 'complete' %}green{% else %}red{% endif %};">{{ status.0 | title }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <hr/>
            <div class="text-center text-large">
                <p>Upload new assignment</p>
            </div>
            <div class="container-fluid">
                <form action="{% url 'instructor-student-works' instructor_id student_instructor.enrollment.pk %}" method="post" id="update_project">
                    {% csrf_token %}
                    <table class="form form-table">
                        {{project_form.as_table}}
                    </table>
                    <input class="btn btn-info my-2" type="submit" value="Upload"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}