{% extends 'instructor/instructor-base.html' %}
{% load static %}
{% load api_extras %}

{% block instructor-head %}
    <title>CMS Online Academy | Assignment</title>
{% endblock %}

{% block instructor-body %}
    <div class="container-fluid">
            <div class="card-columns mx-auto">
                {% for cls in classes %}
                    <a href="{% url 'instructor-student-works' instructor_id cls.enrollment.pk %}">
                        <div class="card my-3 mx-auto ">
                            <div class="card-body pb-0">
                                <h5 class="card-title text-large">{{ cls.enrollment.student.name }}</h5>
                                <ul class="list-unstyled text-small">
                                    <li><strong>{{ cls.enrollment.course.name }}</strong></li>
                                    <li><strong>{{ cls.enrollment.course.category.category }}</strong></li>
                                    <li>Grade: <strong>{{ cls.enrollment.course.get_grade_display }}</strong></li>
                                    <li>Level: <strong>{{ cls.enrollment.course.level }}</strong></li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <ul class="list-unstyled text-small mb-0" style="color:#0060CF">
                                    <li>{{ cls.enrollment.get_days_display }}</li>
                                    <li>{{ cls.enrollment.start_time }} - {{ cls.enrollment.end_time }}</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}