{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>CMS Online Academy | About Us</title>
{% endblock %}

{% block body %}
    <!-- BANNER -->
    <section class="about-us-top">
        <div id="carouselabout" class="carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselabout" data-slide-to="0" class="active"></li>
                <li data-target="#carouselabout" data-slide-to="1"></li>
                <li data-target="#carouselabout" data-slide-to="2"></li>
                <li data-target="#carouselabout" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><br>
                        <p class="dynamic-about">Progressive</p>
                    </div>
                    <img src="{% static 'images/banner1.jpg' %}" class="d-block w-100 " alt="banner1">
                </div>
                <div class="carousel-item " data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><br>
                        <p class="dynamic-about">Creative</p>
                    </div>
                    <img src="{% static 'images/banner2.jpg' %}" class="d-block w-100 " alt="banner2">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><br>
                        <p class="dynamic-about">Innovative</p>
                    </div>
                    <img src="{% static 'images/banner3.jpg' %}" class="d-block w-100 " alt="banner3">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><BR>
                        <p class="dynamic-about">Collaborative</p>
                    </div>
                    <img src="{% static 'images/banner4.jpg' %}" class="d-block w-100 " alt="banner4">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselabout" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselabout" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </section>

    <!-- WHAT-WHY-HOW -->

    <section class="what-why-how">
        <div id="carousel-wwh" class="carousel" data-ride="carousel" pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#carousel-wwh" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-wwh" data-slide-to="1"></li>
                <li data-target="#carousel-wwh" data-slide-to="2"></li>
                <a class="carousel-control-prev" href="#carousel-wwh" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-wwh" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </ol>
            <div class="carousel-inner" style="background: #0059BF">
                <div class="carousel-item active" data-interval="5000">
                    <div class="row">
                        <div class="col-sm-7 py-5 left">
                            <h1><strong>What</strong> we do</h1>
                            <p class="py-2">We are transparent in our approach.<br> We hire qualified instructors by
                                processing them through three levels of evaluation. With a set curriculum that is
                                accessible worldwide, we provide equal learning opportunities to everyone.</p>
                        </div>
                        <div class="col-sm-5 right d-none d-sm-block p-0">
                            <img src="{% static 'images/whatwedo.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-interval="5000">
                    <div class="row">
                        <div class="col-sm-7 py-5 left">
                            <h1><strong>Why</strong> we do</h1>
                            <p class="py-2">We believe that all-round development helps achieve real growth. For that,
                                we offer not only academic oriented classes, but also extracurricular classes like
                                chess, music, and dance. </p>
                        </div>
                        <div class="col-sm-5 right d-none d-sm-block p-0">
                            <img src="{% static 'images/whywedo.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-interval="5000">
                    <div class="row">
                        <div class="col-sm-7 py-5 left">
                            <h1><strong>How</strong> we do</h1>
                            <p class="py-2">We are transparent in our approach, We hire qualified instructors by
                                processing them through three levels of evaluation. With a set curriculum that is
                                accessible worldwide, we provide equal learning opportunities to everyone.</p>
                        </div>
                        <div class="col-sm-5 right d-none d-sm-block p-0">
                            <img src="{% static 'images/howwedo.jpg' %}">
                        </div>
                    </div>
                </div>

            </div>

    </section>

    <!-- BEHIND THE SCENES -->
    <section class="behind py-5">
        <center><h1 class="head">Behind the scenes</h1></center>
        <div id="carousel-behind" class="carousel slide" data-ride="carousel" pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#carousel-behind" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-behind" data-slide-to="1"></li>
                <li data-target="#carousel-behind" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner py-5">
                <div class="carousel-item active" data-interval="5000">
                    <div class="row pb-3 justify-content-center">
                        <div class="d-block col-8 col-md-4">
                            <p class="heading">Name</p>
                            <p class="sub-head">Designation</p>
                            <p class="why-us-con">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>

                        </div>
                        <div class="col-8 col-md-4">
                            <img src="{% static 'images/ins1.jpg' %}" class="img-thumbnail behind-img border-0 p-0 m-0">
                        </div>
                    </div>
                </div>

                <div class="carousel-item " data-interval="5000">
                    <div class="row pb-3 justify-content-center">
                        <div class="d-block col-8 col-md-4">
                            <p class="heading">Name</p>
                            <p class="sub-head">Designation</p>
                            <p class="why-us-con">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>

                        </div>
                        <div class="col-8 col-md-4">
                            <img src="{% static 'images/ins1.jpg' %}" class="img-thumbnail behind-img border-0 p-0 m-0">
                        </div>
                    </div>

                </div>

                <div class="carousel-item" data-interval="5000">
                    <div class="row pb-3 justify-content-center">
                        <div class="d-block col-8 col-md-4">
                            <p class="heading">Name</p>
                            <p class="sub-head">Designation</p>
                            <p class="why-us-con">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>

                        </div>
                        <div class="col-8 col-md-4">
                            <img src="{% static 'images/ins1.jpg' %}" class="img-thumbnail behind-img border-0 p-0 m-0">
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#carousel-behind" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-behind" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </section>
{% endblock %}