<footer class="footer">
    <div class="container ">
        <div class="row justify-content-between">
            <div class=" col-lg-4 col-md-3 col-sm-7 my-auto pt-5">
                <h3><a href="{% url 'index' %}" class="h3">CMS Online Academy</a></h3>
                <p>
                    <span class="sub">Get inspired. </span>
                    <span class="sub">Get creative. </span>
                    <span class="sub">Get productive.</span>
                </p>
                <a class="text-white " href="{% url 'book-trial' %}">Book a free trial</a>
                <ul class="list-unstyled list-inline py-2">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square fa-lg"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
                </ul>
            </div>
            <div class=" col-lg-3 col-md-4  col-sm-5"><br>
                <h5>Categories</h5>
                <ul class="list-unstyled text-small ">
                    <li><a class="text-white" href="{% url 'courses-offered' 't' %}">Technology</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'c' %}">Creative</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'e' %}">Education</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'g' %}">Games & Development</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'l' %}">Language & Culture</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'm' %}">Music & Dance</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'i' %}">Lifestyle</a></li>
                    <li><a class="text-white" href="{% url 'courses-offered' 'p' %}">Professional Development</a></li>
                </ul>
            </div>
            <div class=" col-lg-2 col-md-2 col-sm-6"><br>
                <h5>Company</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="{% url 'about-us' %}">About us</a></li>
                    <li><a class="text-white" href="{% url 'teach-with-us' %}">Teach with us</a></li>
                    <li><a class="text-white" href="{% url 'faq' %}">FAQ</a></li>
                </ul>
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-6"><br>
                <h5>Get in touch with us</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="tel:+91 9443232761" class="text-white">Contact Number : 9999999999</a></li>
                    <li><a href="mailto:adarshyahari@gmail.com" class="text-white">Email ID : abc@gmail.com</a></li>
                    <li><a class="text-white" data-toggle="modal" data-target="#query-popup">Ask a query</a></li>
                </ul>
            </div>

        </div>
    </div>

</footer>