<footer class="footer">
    <div class="container ">
        <div class="row justify-content-between">
            <div class=" col-lg-4 col-md-3 col-sm-7 my-auto pt-5">
                <h3><a href="{% url 'index' %}" class="h3">CMS Online Academy</a></h3>
                 <p class="text-tiny" style="line-height: 5px;">( Connecting Masters & Students )</p>
                <p style="line-height: 16px;">
                    <span class="sub">Get inspired. </span>
                    <span class="sub">Get creative. </span>
                    <span class="sub">Get productive.</span>
                </p>
                <a class="text-white " href="{% url 'product-category' %}">Book a free trial</a>
                <ul class="list-unstyled list-inline py-2">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-square fa-lg"></i></a></li>
                     <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp-square fa-lg"></i></a></li>
                </ul>
            </div>
            <div class=" col-lg-3 col-md-4  col-sm-5"><br>
                <h5>Categories</h5>
                <ul class="list-unstyled text-small ">
                    {% for category in all_categories %}
                        <li><a class="text-white" href="{% url 'courses-offered' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class=" col-lg-2 col-md-2 col-sm-6"><br>
                <h5>Company</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="{% url 'about-us' %}">About us</a></li>
                    <li><a class="text-white" href="{% url 'faq' %}">FAQ</a></li>
                </ul>
            </div>
            <div class=" col-lg-3 col-md-3 col-sm-6"><br>
                <h5>Get in touch with us</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="tel:+1 (717)991-9108" class="text-white">Contact Number : +1 (717)991-9108</a></li>
                    <li><a href="mailto:info@cmsitg.com" class="text-white">Email ID : info@cmsitg.com</a></li>
                    <li><a class="text-white" data-toggle="modal" data-target="#query-popup">Ask a query</a></li>
                </ul>
            </div>

        </div>
    </div>

</footer>
<!-- AJAX Query POST call-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>-->
<script>
    $(document).ready(function(){
        // Query AJAX request
        $("#query-form").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            $.ajax({
               type: "POST",
               url: url,
               data: form.serialize(),
               success: function(data)
               {
                   if(data.type == "SUCCESS") {
                    showAlert("", data.message);
                    $("#query-popup").modal('hide');
                   }
               },
               error: function(data) {
                if(data.type == "ERROR") {
                    alert(data.responseJSON.message);
                }
               }
            });
        });
    });
</script>