{% load api_extras %}
<!-- NAVBAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom py-2 justify-content-between">
    <a class="navbar-brand" href="{% url 'index' %}">
        Shop 3d Prints
    </a>

    <span class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-chevron-circle-down"></i>
	</span>


    <div class="collapse navbar-collapse" id="navbarSupportedContent1" style="font-size: 15px;">

        <ul class="nav navbar-nav" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown1" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="{% url 'about-us' %}">About us</a>
                    <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#query-popup">Ask a query</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in all_categories %}
                        <a class="dropdown-item"
                           href="{% url 'products-offered' category.id %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
    

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent2" style="font-size: 15px;">
        <ul class="nav navbar-nav">
            {% if request.user|has_group:"Student" %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'customer' %}" role="tab">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'customer-profile' %}">{{request.user|user_name|capfirst}}</a></li>
            {% elif request.user|has_group:"Instructor"%}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'service_provider' %}" role="tab">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="{% url 'service_provider-profile-edit' request.user|my_pk %}">{{request.user|user_name|capfirst}}</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link text-light " data-toggle="modal" data-target="#login-popup">Login</a>
                </li>
                <li class="nav-item"><a class="nav-link text-light " data-toggle="modal" data-target="#register-popup">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>