<!-- NAVBAR -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom py-2 justify-content-between">
<!--     <i class="fas fa-search d-sm-none"></i> -->
    <a class="navbar-brand" href="{% url 'index' %}">
        CMS Online Academy
    </a>
    <form class="form-inline d-none d-sm-inline d-lg-none">
        <input class="form-control search-bar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    </form>

    <span class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-chevron-circle-down"></i>
	</span>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 15px;">

        <ul class="nav navbar-nav" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="{% url 'about-us' %}">About us</a>
                    <a class="dropdown-item" href="{% url 'faq' %}">FAQ</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#query-popup">Ask a query</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in all_categories %}
                        <a class="dropdown-item"
                           href="{% url 'courses-offered' category.id %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item"><a class="nav-link text-light" href="{% url 'teach-with-us' %}">Teach with us</a></li>
        </ul>
    </div>
    <form class="form-inline d-none d-lg-inline ">
        <input class="form-control search-bar" type="search" placeholder="Search course" aria-label="Search">
    </form>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="font-size: 15px;">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link text-light" href="{% url 'book-trial' %}">Book a Free Trial</a></li>
            {% if me %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'student' %}" role="tab">Dashboard</a>
                </li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link text-light " data-toggle="modal" data-target="#login-popup">Login</a>
                </li>
                <li class="nav-item"><a class="nav-link text-light " data-toggle="modal" data-target="#register-popup">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>