<!DOCTYPE html>
<html>
<head>
    <title>Login Modal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="loginmodal.css">
</head>
<body>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-custom" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header header-custom"> -->


            <!--  </div> -->

            <div class=" card-content">
                <button type="button" class="close-custom" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row no-gutters">

                    <div class="col-md-4 left-block">

                        <p class="login">Good to see you again!</p>
                        <p class="reg-para">Login to your account to see your progress, attend classes, book courses,
                            receive personalized recommendations, and more!</p>


                    </div>
                    <div class="col-md-8">
                        <div class="card-body right-block">

                            <form>
                                <div class="container custom ">

                                    <input type="email" class="form-control w-75 " id="inputEmail4"
                                           placeholder="Enter email" required>


                                    <input type="Password" id="Password" class="form-control w-75"
                                           placeholder="Enter password" required>
                                    <div id="forgot">
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                    <div class="but">
                                        <button type="submit" class="btn button-custom">Login</button>
                                    </div>


                            </form>
                            <div>
                                <a href="#" class="create">Create an account</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                    crossorigin="anonymous"></script>
</body>
</html>