{% extends 'student/student-base.html' %}
{% load static %}
{% load api_extras %}

{{% block student-head %}
    <title>CMS Online Academy | Schedule</title>
    <style>
        .form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}
    </style>
{% endblock %}

{% block student-body %}
<div class="clearfix text-center">
  <a class="btn btn-primary" href="{% url 'student-schedule' %}">Go back to calendar </a>
</div>
<hr/>
<div class="clearfix text-center">
  <form method="post">
      {% csrf_token %}
      <label for="event-form"><h3>Create/Update a new event</h3></label>
      <table class="form form-table text-center" id="event-form">
        {{ form }}
        <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
      </table>
  </form>
</div>
{% endblock %}