{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
    <title>CMS Online Academy | About Us</title>
{% endblock %}

{% block landing-body %}
    <!-- BANNER -->
    <section class="about-us-top">
        <div id="carouselabout" class="carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselabout" data-slide-to="0" class="active"></li>
                <li data-target="#carouselabout" data-slide-to="1"></li>
                <li data-target="#carouselabout" data-slide-to="2"></li>
                <li data-target="#carouselabout" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><br>
                        <p class="dynamic-about">Progressive</p>
                    </div>
                    <img src="{% static 'images/banner1.jpg' %}" class="d-block w-100 " alt="banner1">
                </div>
                <div class="carousel-item " data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><br>
                        <p class="dynamic-about">Creative</p>
                    </div>
                    <img src="{% static 'images/banner2.jpg' %}" class="d-block w-100 " alt="banner2">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><br>
                        <p class="dynamic-about">Innovative</p>
                    </div>
                    <img src="{% static 'images/banner3.jpg' %}" class="d-block w-100 " alt="banner3">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <div class="img__overlay-about-us">
                        <p class="static-about">We are</p><BR>
                        <p class="dynamic-about">Collaborative</p>
                    </div>
                    <img src="{% static 'images/banner4.jpg' %}" class="d-block w-100 " alt="banner4">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselabout" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselabout" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </section>

    <!-- WHAT-WHY-HOW -->

    <section class="what-why-how">
        <div id="carousel-wwh" class="carousel" data-ride="carousel" pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#carousel-wwh" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-wwh" data-slide-to="1"></li>
                <li data-target="#carousel-wwh" data-slide-to="2"></li>
                <a class="carousel-control-prev" href="#carousel-wwh" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-wwh" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </ol>
            <div class="carousel-inner" style="background: #0059BF">
                <div class="carousel-item active" data-interval="5000">
                    <div class="row">
                        <div class="col-sm-7 py-5 my-auto left">
                            <h1><strong>What</strong> we do</h1>
                            <p class="py-2">Shop 3d Prints is a next generation manufacturing company. Our vision is transforming traditional manufacturing to bring product ideas into real world with the help of cutting-edge technologies. We identified the main problem of traditional manufacturing is longer time to market and higher costs associated.</p>
                        </div>
                        <div class="col-sm-5 right d-none d-sm-block p-0">
                            <img src="{% static 'images/whatwedo.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-interval="5000">
                    <div class="row">
                        <div class="col-sm-7 py-5 my-auto left">
                            <h1><strong>Why</strong> we do</h1>
                            <p class="py-2">To capitalize the true potential of 3d printing and educate people about it, we are foraying into medical and healthcare fields by developing products and solutions like custom prosthesis and orthopedic devices. We are striving to customize medical equipment for faster and better healing of patients’ ailments. </p>
                        </div>
                        <div class="col-sm-5 right d-none d-sm-block p-0">
                            <img src="{% static 'images/whywedo.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="carousel-item " data-interval="5000">
                    <div class="row">
                        <div class="col-sm-7 py-5 my-auto left">
                            <h1><strong>How</strong> we do</h1>
                            <p class="py-2">Over the years, we have built an ecosystem of conventional and unconventional manufacturing processes including CNC and 3D Printing Processes (FDM, SLA & SLS). Since 3d printing is a relatively new technology, we are working on design & development of various products in different fields to tap its potential and educate people about 3d printing.</p>
                        </div>
                        <div class="col-sm-5 right d-none d-sm-block p-0">
                            <img src="{% static 'images/howwedo.jpg' %}">
                        </div>
                    </div>
                </div>

            </div>

    </section>

<!--    &lt;!&ndash; BEHIND THE SCENES &ndash;&gt;-->
<!--    <section class="behind py-5">-->
<!--        <center><h1 class="head">Behind the scenes</h1></center>-->
<!--        <div id="carousel-behind" class="carousel slide" data-ride="carousel" pause="hover">-->
<!--            <ol class="carousel-indicators">-->
<!--                <li data-target="#carousel-behind" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#carousel-behind" data-slide-to="1"></li>-->
<!--                <li data-target="#carousel-behind" data-slide-to="2"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner py-5">-->
<!--                <div class="carousel-item active" data-interval="5000">-->
<!--                    <div class="row pb-3 justify-content-center">-->
<!--                        <div class="d-block col-8 col-md-4 my-auto">-->
<!--                    <h1>Name</h1>-->
<!--                    <p class="sub-head">Designation</p>-->
<!--                    <p class="why-us-con">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.                    -->
<!--                    </p>-->
<!--                    -->
<!--                </div>-->
<!--                        <div class="col-8 col-md-4">-->
<!--                            <img src="{% static 'images/ins1.jpg' %}" class="img-thumbnail behind-img border-0 p-0 m-0">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="carousel-item " data-interval="5000">-->
<!--                    <div class="row pb-3 justify-content-center">-->
<!--                        <div class="d-block col-8 col-md-4 my-auto">-->
<!--                    <h1>Name</h1>-->
<!--                    <p class="sub-head">Designation</p>-->
<!--                    <p class="why-us-con">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.                    -->
<!--                    </p>-->
<!--                    -->
<!--                </div>-->
<!--                        <div class="col-8 col-md-4">-->
<!--                            <img src="{% static 'images/ins1.jpg' %}" class="img-thumbnail behind-img border-0 p-0 m-0">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div class="carousel-item" data-interval="5000">-->
<!--                    <div class="row pb-3 justify-content-center">-->
<!--                        <div class="d-block col-8 col-md-4 my-auto">-->
<!--                    <h1>Name</h1>-->
<!--                    <p class="sub-head">Designation</p>-->
<!--                    <p class="why-us-con">-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.                    -->
<!--                    </p>-->
<!--                    -->
<!--                </div>-->
<!--                        <div class="col-8 col-md-4">-->
<!--                            <img src="{% static 'images/ins1.jpg' %}" class="img-thumbnail behind-img border-0 p-0 m-0">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--                <a class="carousel-control-prev" href="#carousel-behind" role="button" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Previous</span>-->
<!--                </a>-->
<!--                <a class="carousel-control-next" href="#carousel-behind" role="button" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="sr-only">Next</span>-->
<!--                </a>-->
<!--            </div>-->
<!--    </section>-->
{% endblock %}