{% extends 'landing/landing-base.html' %}
{% load static %}
{% load tz %}
{% load api_extras %}

{% block head %}
    <title>CMS Online Academy | Course Details</title>
    <link rel="stylesheet" href="{% static 'styles/course-details.css' %}">
{% endblock %}

{% block landing-body %}
    <section class="your-turn text-white px-2 py-3 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <h3 class="h3">{{ course.name }}</h3>
                </div>
                <div class="col-md-5 col-lg-4">
                    <p class="text-normal">Grade: <strong>{{ course.get_grade_display }}</strong>&nbsp&nbsp&nbsp&nbspLevel:
                        <strong>{{ course.level }}</strong></p>
                </div>
                <div class="col-md-3 col-lg-4">
                    <h4 class="h4">Price: <strong>$ {{ course.total_price_usd }}</strong></h4>
                </div>
            </div>
            <p class="text-normal">{{ course.category.category }}</p>
            <p class="text-medium">{{ course.description }}</p>
            <button type="button" class="btn btn-outline-light text-normal" id="enroll-btn"><a href="#enroll-now">Enroll Now</a>
            </button>
            <button type="button" class="btn btn-warning text-normal" id="free-trial-btn"><a href="#enroll-now">Free Trial</a></button>

        </div>
    </section>

    <section class="container px-5 px-sm-3 pt-4">
        <div class="row">

            <div class="col-sm-6 col-md-5 col-lg-3 highlights text-medium">
                <p class="text-large">Highlights</p>
                <ul class="list-unstyled " style="line-height: 30px;">
                    {% for highlight in course.highlight_list %}
                        <li><i class="fas fa-check"></i> {{ highlight }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6  pl-sm-5 text-medium">
                <p class="text-large">Prerequisites</p>
                <ul class="list-unstyled " style="line-height: 30px;">
                    {% for prereq in course.prerequisite_list %}
                        <li><i class="fas fa-hand-point-right fa-sm"></i> {{ prereq }}</li>
                    {% endfor %}

                </ul>
            </div>

        </div>
        <section class="time-line-box py-4">
            <p class="text-large">Course Overview</p>
            <div class="swiper-container text-center py-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="topic-title my-auto "><i class="fas fa-flag-checkered fa-3x"
                                                             style="color: #80c904"></i></div>
                        <div class="topic-overview text-medium"><span></span></div>
                    </div>
                    {% for session in course.session_list %}
                        <div class="swiper-slide">
                            <div class="topic-title my-auto text-large">Session {{ forloop.counter }}</div>
                            <div class="topic-overview text-medium "><span>{{ session }}</span></div>
                        </div>
                    {% endfor %}
                    <div class="swiper-slide">
                        <div class="topic-title my-auto"><i class="fas fa-certificate fa-3x" style="color: #ffd400"></i>
                        </div>
                        <div class="topic-overview text-medium"><span></span></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section class="projects py-3">
            <p class="text-large">Projects you will complete</p>
            <div class="card-columns mx-auto">
                {% for project in course.assignment_list %}
                    <div class="card h-100 mx-auto">
                        <div class="card-body">
                            <h5>{{ project }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="tests pt -3">
            <p class="text-large">Tests you will take</p>
            <div class="card-columns mx-auto">
                {% for exam in course.exams_list %}
                    <div class="card h-100 mx-auto">
                        <div class="card-body">
                            <h5>{{ exam }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
    <section class="enroll-form container pb-5 px-5 my-4" id="enroll-now">
        <br><br>
        <div class="text-center centered">
            <h1 class="head" id="form-heading">Enroll Now</h1>
            <p class="text-medium">Book a class for your kid!</p>
        </div>
        {% if me %}
            {% get_current_timezone as TIME_ZONE %}
<!--            <form action="{% url 'set_timezone' %}" method="POST" id="set-time">-->
<!--                {% csrf_token %}-->
<!--                <label for="timezone">Time zone:</label>-->
<!--                <select name="timezone" id="timezone">-->
<!--                    {% for tz in timezones %}-->
<!--                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--                <input type="submit" value="Set" class="btn-small btn-primary">-->
<!--            </form>-->
            <form id="enroll-form" class="centered mx-auto">
                <div class="form-row">
                    <div class="col-12 mx-auto" id="batch-div">
                        <label for="batch">Select Batch</label>
                        <select id="batch" name="batch" class="form-control form-control-sm" required onchange="clearDate(this.value)">
                            <option id="batch-1" value="-1" selected>None</option>
                            <option id="batch-2" value="0,1,2">Mon-Tue-Wed</option>
                            <option id="batch-3" value="3,4">Thur-Fri</option>
                            <option id="batch-4" value="5,6">Sat-Sun</option>
                        </select>
                    </div>
                    <div class="col-12 mx-auto">
                        <div class="mx-auto calendarDate">
                            <label for="date-picker">Pick a date within the next 10 days</label><br/>
                            <input class="form-control-sm" autocomplete="off" id="date-picker" name="date" type="text" placeholder="Select Date" required style="border: 1px solid rgba(0,0,0,0.2); width: 100%;" onchange="selectDay(this.value)">
                        </div>
                    </div>
                    <div class="col-12 mx-auto">
                        <label for="available_timing">Select Timings</label>
                        <select id="available_timing" name="time" class="form-control form-control-sm" required>
                            <option value="null" id="at_null" selected>None</option>
                            {% for ts in time_slots%}
                                <option value='{{ts.utc_start_time}},{{ts.utc_end_time}}' class="at_{{ts.date}}" disabled>{{ts.start_time}}-{{ts.end_time}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 mx-auto">
                        <label for="payment_method">Mode of payment</label>
                        <select id="payment_method" name="payment_method" class="form-control form-control-sm" onchange="switchScheme(this.value)" required>
                            <option value=0 id="pay-option-0">Full payment</option>
                            <option value=1 id="pay-option-1">Monthly payment</option>
                            <option value=2 id="pay-option-2">Free trail</option>
                        </select>
                    </div>
                </div>
                {% csrf_token %}
                <input type="hidden" name="course" value="{{ course.id }}">
                <div class="text-center">
                    <button type="submit" class="btn text-white custom-btn">Enroll</button>
                </div>
            </form>
        {% else %}
            <p class="text-large text-center">Please login or register to enroll in a course.</p>
        {% endif %}
    </section>
{% endblock %}
{% block script %}
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var availDatesWithDay = {
            {% for item in time_slots %}
                "{{item.date}}": "{{item.day}}",
            {% endfor %}
        };
        var availDates = Object.keys(availDatesWithDay);
        function digitFix(digit) {
            if(digit < 10) {
                return `0${digit}`;
            }
            return `${digit}`;
        }
        $('#date-picker').datepicker({
            format: 'mm/dd/yyyy',
            beforeShowDay: function(date){
                var dmy = digitFix(date.getMonth()+1) + "_" + digitFix(date.getDate()) + "_" + date.getFullYear();
                if(availDates.indexOf(dmy) != -1){
                    return [true];
                }
                else{
                    return [false];
                }
            }
        });
        function clearDate(data) {
            $("#date-picker").val('');
            var batch = data.split(",");
            var tmp = [];
            for(k in availDatesWithDay) {
                if(batch.indexOf(availDatesWithDay[k]) != -1) {
                    tmp.push(k);
                }
            }
            availDates = tmp;
        }
        function disableAllTimes() {
            $("#available_timing").val('');
            for(d of availDates) {
                $(`.at_${d}`).prop('disabled', 'disabled');
            }
        }
        function selectDay(data) {
            disableAllTimes();
            var tmp = data.replaceAll("/", "_");
            $(`.at_${tmp}`).prop('disabled', false);
        }
        var stripe = Stripe("{{ stripe_pk }}");
        $('#enroll-form').on('submit', function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            console.log(data);
            $.post('{% url 'checkout' %}', data, function(response) {
                const session = JSON.parse(response);
                if(session.payment_method == 0) {
                    stripe.redirectToCheckout({sessionId: session.id});
                } else if (session.payment_method == 1 || session.payment_method == 2) {
                    showAlert("Registration successful", session.message, () => {
                        window.location.replace("{% url 'student' %}");
                    });
                }
            }).fail(function (data) {
                var res = JSON.parse(data.responseText);
                showAlert("Registration failed", res.message);
            });
        })
        /*$("#set-time").submit(function(e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                $.ajax({
                   type: "POST",
                   url: url,
                   data: form.serialize(),
                   success: function(data)
                   {
                       showAlert("Timezone", data.message);
                       location.reload();
                   },
                   error: function(data) {
                    showAlert("Timezone", "Can't set timezone");
                   }
                });
          });*/
         function disableAllPaymentOption() {
            $("#pay-option-0").attr("disabled", "disabled");
            $("#pay-option-1").attr("disabled", "disabled");
            $("#pay-option-2").attr("disabled", "disabled");
         }
         function disableAllBatch() {
            $("#batch-1").attr("disabled", "disabled");
            $("#batch-2").attr("disabled", "disabled");
            $("#batch-3").attr("disabled", "disabled");
            $("#batch-4").attr("disabled", "disabled");
         }
         $("#free-trial-btn").on('click', function() {
            disableAllPaymentOption();
            $("#batch").val("-1");
            availDates = Object.keys(availDatesWithDay);
            disableAllBatch();
            $("#batch-1").attr("disabled", false);
            $("#pay-option-2").attr("disabled", false);
            $("#payment_method").val(2);
            $("#batch-div").attr("hidden", true);
            $("#form-heading").text("Free trial");
         });
         $("#enroll-btn").on('click', function() {
            disableAllPaymentOption();
            disableAllBatch();
            $("#batch-2").attr("disabled", false);
            $("#batch-3").attr("disabled", false);
            $("#batch-4").attr("disabled", false);
            $("#pay-option-0").attr("disabled", false);
            $("#pay-option-1").attr("disabled", false);
            $("#payment_method").val(0);
            $("#batch-div").attr("hidden", false);
            $("#form-heading").text("Enroll now");
         });
         function switchScheme(scheme) {
            if(scheme == 0 || scheme == 1) {
                disableAllPaymentOption();
                disableAllBatch();
                $("#batch-2").attr("disabled", false);
                $("#batch-3").attr("disabled", false);
                $("#batch-4").attr("disabled", false);
                $("#pay-option-0").attr("disabled", false);
                $("#pay-option-1").attr("disabled", false);
                $("#batch-div").attr("hidden", false);
                $("#form-heading").text("Enroll now");
            }
            if(scheme == 2) {
                disableAllPaymentOption();
                $("#batch").val("-1");
                availDates = Object.keys(availDatesWithDay);
                disableAllBatch();
                $("#batch-1").attr("disabled", false);
                $("#pay-option-2").attr("disabled", false);
                $("#payment_method").val(2);
                $("#batch-div").attr("hidden", true);
                $("#form-heading").text("Free trial");
            }
         }
    </script>
{% endblock %}