{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
    <title>CMS Online Academy | Course Details</title>
    <link rel="stylesheet" href="{% static 'styles/course-details.css' %}">
{% endblock %}

{% block landing-body %}
    <section class="your-turn text-white px-2 py-3 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <h3 class="h3">Course Name</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                    <p class="text-normal">Grade: <strong>5-7</strong>&nbsp&nbsp&nbsp&nbspLevel: <strong>1</strong></p>
                </div>
            </div>
            <p class="text-normal">Category</p>
            <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit .</p>
            <button type="button" class="btn btn-outline-light text-normal"><a href="#enroll-now">Enroll Now</a>
            </button>
            <button type="button" class="btn btn-warning text-normal"><a href="book-trial.html">Free Trial</a></button>

        </div>
    </section>

    <section class="container px-5 px-sm-3 pt-4">
        <div class="row">

            <div class="col-sm-6 col-md-5 col-lg-3 highlights text-medium">
                <p class="text-large">Highlights</p>
                <ul class="list-unstyled " style="line-height: 30px;">
                    <li><i class="fas fa-check"></i> Lorem Ipsum Dolor</li>
                    <li><i class="fas fa-check"></i> Lorem Ipsum Dolor</li>
                    <li><i class="fas fa-check"></i> Lorem Ipsum Dolor</li>
                    <li><i class="fas fa-check"></i> Lorem Ipsum Dolor</li>
                    <li><i class="fas fa-check"></i> Lorem Ipsum Dolor</li>
                </ul>
            </div>

            <div class="col-sm-6  pl-sm-5 text-medium">
                <p class="text-large">Prerequisites</p>
                <ul class="list-unstyled " style="line-height: 30px;">
                    <li><i class="fas fa-hand-point-right fa-sm"></i> Lorem Ipsum lorem ipsum Dolor</li>
                    <li><i class="fas fa-hand-point-right fa-sm"></i> Lorem Ipsum Dolor</li>
                    <li><i class="fas fa-hand-point-right fa-sm"></i> Lorem Ipsum Dolor</li>

                </ul>
            </div>

        </div>
        <section class="time-line-box py-4">
            <p class="text-large">Course Overview</p>
            <div class="swiper-container text-center py-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="topic-title my-auto "><i class="fas fa-flag-checkered fa-3x"
                                                             style="color: #80c904"></i></div>
                        <div class="topic-overview text-medium"><span></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium "><span>What is Python? Intro to datatypes</span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium"><span>What is Python? Intro to datatypes Lorem ipsum dolor sitto datatypes</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium"><span>What is Python? Introto datatypes Lorem ipsum dolor sit to datatypes</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium"><span>What is Python? Intro to datatypes Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium"><span>What is Python? Intro to datatypes</span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium"><span>What is Python? Intro to datatypes</span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto text-large">Session 1</div>
                        <div class="topic-overview text-medium"><span>What is Python? Intro to datatypes</span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="topic-title my-auto"><i class="fas fa-certificate fa-3x" style="color: #ffd400"></i>
                        </div>
                        <div class="topic-overview text-medium"><span></span></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section class="projects py-3">
            <p class="text-large">Projects you will complete</p>
            <div class="card-columns mx-auto">

                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>PROJECT name</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>PROJECT name</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>PROJECT name</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>PROJECT name</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>


            </div>
        </section>
        <section class="tests pt -3">
            <p class="text-large">Tests you will take</p>
            <div class="card-columns mx-auto">

                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>INTRODUCTION TO PYTHON TEST-1</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>INTRODUCTION TO PYTHON TEST-1</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>
                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <h5>INTRODUCTION TO PYTHON TEST-1</h5>
                        <ul class="list-unstyled text-small">
                            <li><strong>Programming</strong></li>
                            <li>Grade: <strong>5-7</strong></li>
                            <li>Level: <strong>1</strong></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </section>
    <section class="enroll-form container pb-5 px-5 my-4" id="enroll-now">
        <br><br>
        <div class="text-center centered">
            <h1 class="head">Enroll Now</h1>
            <p class="text-medium">Book a class for your kid!</p>
        </div>
        <form class="centered mx-auto">
            <div class="form-row">
                <div class="col-12 col-md-4 mx-auto">
                    <label for="batch">Select Batch</label>
                    <select id="batch" class="form-control form-control-sm" required>
                        <option value="" selected disabled>Pick Batch</option>
                        <option value="mwf">Mon-Wed-Fri</option>
                        <option value="sat-sun">Sat-Sun</option>
                    </select>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <label for="pick-date">Select a date within the next 15 days</label>
                    <input id="pick-date" type="date" min="2020-09-13" max="2020-10-13" required>
                </div>
                <div class="col-12 col-md-4 mx-auto" onchange="EnableDisableBtop()">
                    <label for="timing">Select Timings</label>
                    <select id="timing" class="form-control form-control-sm" required>
                        <option value="" selected disabled>Pick Timings</option>
                        <option value="eve">4PM-5PM</option>
                        <option value="nit">7PM-8PM</option>
                    </select>
                </div>

            </div>
            <div id="btop" class="text-center mx-auto mb-3">
                <ul class="list-group">
                    <li class="list-group-item">Session 1: <span class="sub">Sept 20, 2020&nbsp&nbspMonday</span></li>
                    <li class="list-group-item">Session 1: <span class="sub">Sept 20, 2020&nbsp&nbspMonday</span></li>
                    <li class="list-group-item">Session 1: <span class="sub">Sept 20, 2020&nbsp&nbspMonday</span></li>
                    <li class="list-group-item">Session 1: <span class="sub">Sept 20, 2020&nbsp&nbspMonday</span></li>
                    <li class="list-group-item">Session 1: <span class="sub">Sept 20, 2020&nbsp&nbspMonday</span></li>
                </ul>
            </div>

            <div class="text-center">
                <button type="submit" class=" btn text-white custom-btn">Enroll</button>
            </div>
        </form>
    </section>
{% endblock %}