{% extends 'landing/landing-base.html' %}
{% load static %}
{% load api_extras %}

{% block head %}
    <title>CMS Online Academy | Course Details</title>
    <link rel="stylesheet" href="{% static 'styles/course-details.css' %}">
{% endblock %}

{% block landing-body %}
    <section class="your-turn text-white px-2 py-3 ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <h3 class="h3">{{ course.name }}</h3>
                </div>
                <div class="col-md-5 col-lg-4">
                    <p class="text-normal">Grade: <strong>{{ course.get_grade_display }}</strong>&nbsp&nbsp&nbsp&nbspLevel:
                        <strong>{{ course.level }}</strong></p>
                </div>
                <div class="col-md-3 col-lg-4">
                    <h4 class="h4">Price: <strong>$ {{ course.total_price_usd }}</strong></h4>
                </div>
            </div>
            <p class="text-normal">{{ course.category.category }}</p>
            <p class="text-medium">{{ course.description }}</p>
            <button type="button" class="btn btn-outline-light text-normal"><a href="#enroll-now">Enroll Now</a>
            </button>
            <button type="button" class="btn btn-warning text-normal"><a href="book-trial.html">Free Trial</a></button>

        </div>
    </section>

    <section class="container px-5 px-sm-3 pt-4">
        <div class="row">

            <div class="col-sm-6 col-md-5 col-lg-3 highlights text-medium">
                <p class="text-large">Highlights</p>
                <ul class="list-unstyled " style="line-height: 30px;">
                    {% for highlight in course.highlight_list %}
                        <li><i class="fas fa-check"></i> {{ highlight }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6  pl-sm-5 text-medium">
                <p class="text-large">Prerequisites</p>
                <ul class="list-unstyled " style="line-height: 30px;">
                    {% for prereq in course.prerequisite_list %}
                        <li><i class="fas fa-hand-point-right fa-sm"></i> {{ prereq }}</li>
                    {% endfor %}

                </ul>
            </div>

        </div>
        <section class="time-line-box py-4">
            <p class="text-large">Course Overview</p>
            <div class="swiper-container text-center py-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="topic-title my-auto "><i class="fas fa-flag-checkered fa-3x"
                                                             style="color: #80c904"></i></div>
                        <div class="topic-overview text-medium"><span></span></div>
                    </div>
                    {% for session in course.session_list %}
                        <div class="swiper-slide">
                            <div class="topic-title my-auto text-large">Session {{ forloop.counter }}</div>
                            <div class="topic-overview text-medium "><span>{{ session }}</span></div>
                        </div>
                    {% endfor %}
                    <div class="swiper-slide">
                        <div class="topic-title my-auto"><i class="fas fa-certificate fa-3x" style="color: #ffd400"></i>
                        </div>
                        <div class="topic-overview text-medium"><span></span></div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section class="projects py-3">
            <p class="text-large">Projects you will complete</p>
            <div class="card-columns mx-auto">
                {% for project in course.project_set.all %}
                    <div class="card h-100 mx-auto">
                        <div class="card-body">
                            <h5>{{ project.name }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="tests pt -3">
            <p class="text-large">Tests you will take</p>
            <div class="card-columns mx-auto">
                {% for exam in course.exam_set.all %}
                    <div class="card h-100 mx-auto">
                        <div class="card-body">
                            <h5>{{ exam.name }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>
    <section class="enroll-form container pb-5 px-5 my-4" id="enroll-now">
        <br><br>
        <div class="text-center centered">
            <h1 class="head">Enroll Now</h1>
            <p class="text-medium">Book a class for your kid!</p>
        </div>
        {% if me %}
            <form id="enroll-form" class="centered mx-auto">
                <div class="form-row">
                    <div class="col-12 col-md-4 mx-auto">
                        <label for="batch">Select Batch</label>
                        <select id="batch" name="batch" class="form-control form-control-sm" required onchange="clearDate(this.value)">
                            <option value="-1" selected>None</option>
                            <option value="0,1,2">Mon-Tue-Wed</option>
                            <option value="3,4">Thur-Fri</option>
                            <option value="5,6">Sat-Sun</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-4 mx-auto">
                        <div class="mx-auto calendarDate">
                            <label for="date-picker">Pick a date within the next 10 days</label><br/>
                            <input class="form-control-sm" id="date-picker" name="date" type="text" placeholder="Select Date" required style="border: 1px solid rgba(0,0,0,0.2); width: 100%;" onchange="selectDay(this.value)">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mx-auto">
                        <label for="available_timing">Select Timings</label>
                        <select id="available_timing" name="time" class="form-control form-control-sm" required>
                            <option value="null" id="at_null" selected>None</option>
                            {% for ts in time_slots%}
                                <option value='{{ts.start_time}},{{ts.end_time}}' class="at_{{ts.date}}" disabled>{{ts.start_time}}-{{ts.end_time}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                {% csrf_token %}
                <input type="hidden" name="course" value="{{ course.id }}">
                <div class="text-center">
                    <button type="submit" class="btn text-white custom-btn">Enroll</button>
                </div>
            </form>
        {% else %}
            <p class="text-large text-center">Please login or register to enroll in a course.</p>
        {% endif %}
    </section>
    <!-- PROMPT MODAL -->
<!--     <div class="modal fade" id="prompt-popup" data-backdrop="static" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm modal-reg" role="document">
            <div class="card modal-content ">

                <div class="row no-gutters congrats-con">
                    <div class="card-body  text-center text-large text-white">
                        <div class="py-2 px-2">
                            <i class="fas fa-laugh-beam fa-2x pb-2" style="color: #ffd400"></i>
                            <h3>Please login or register to enroll</h3>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="card-body  text-center text-small">
                        <p class="text-small text-right">Already have an account?
                            <button class="form-btn custom-btn" role="button" data-toggle="modal"
                                    data-target="#login-popup" data-dismiss="modal">Login
                            </button>
                        </p>
                        <p class="text-small text-right">New User?
                            <button class="form-btn custom-btn" role="button" data-toggle="modal"
                                    data-target="#register-popup" data-dismiss="modal">Register
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}

{% block script %}
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var availDatesWithDay = {
            {% for item in time_slots %}
                "{{item.date}}": "{{item.day}}",
            {% endfor %}
        };
        var availDates = Object.keys(availDatesWithDay);
        $('#date-picker').datepicker({
            format: 'mm/dd/yyyy',
            beforeShowDay: function(date){
                dmy = date.getMonth()+1 + "_" + date.getDate() + "_" + date.getFullYear();
                if(availDates.indexOf(dmy) != -1){
                    return [true];
                }
                else{
                    return [false];
                }
            }
        });
        function clearDate(data) {
            $("#date-picker").val('');
            var batch = data.split(",");
            var tmp = [];
            for(k in availDatesWithDay) {
                if(batch.indexOf(availDatesWithDay[k]) != -1) {
                    tmp.push(k);
                }
            }
            availDates = tmp;
        }
        function disableAllTimes() {
            $("#available_timing").val('');
            for(d of availDates) {
                $(`.at_${d}`).prop('disabled', 'disabled');
            }
        }
        function selectDay(data) {
            disableAllTimes();
            var tmp = data.replaceAll("/", "_");
            $(`.at_${tmp}`).prop('disabled', false);
        }

        var stripe = Stripe("{{ stripe_pk }}");
        $('#enroll-form').on('submit', function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            console.log(data);
            $.post('{% url 'checkout' %}', data, function(response) {
                const session = JSON.parse(response);
                stripe.redirectToCheckout({sessionId: session.id});
            });
        });
    </script>
{% endblock %}