{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
    <title>CMS Online Academy | FAQ</title>
{% endblock %}

{% block landing-body %}
    <!-- FAQ -->
    <section class="faq container py-3">
        <div class="text-center"><h1 class="head">FAQ</h1></div>

        <div class="card-columns pt-3 centered">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">How are we different?</h5>
                    <p class="card-text">The curriculum is more comprehensive and structured than any other online coding program available. The program combines the benefits of 1-1 teacher-led instruction, a students-first approach, and hands-on, project-based learning, with the convenience of the online live classroom.</p>
                </div>
            </div>
            <div class="card  mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Does my child get additional support?</h5>
                    <p class="card-text">Yes! We give regular homework assignments to supplement class time. There are tests, reviews and exercises to show mastery of the material.</p>
                </div>
            </div>
            <div class="card  mx-auto">
                <div class="card-body">
                    <h5 class="card-title">What technology do you need at home?</h5>
                    <p class="card-text">You will need the following: 1) A computer with a keyboard, microphone, and speaker – almost all laptops bought within the last five years ago should have these; 2) A web browser installed, like Chrome (recommended) or Firefox or Safari; and 3) A reliable internet connection. Also, a headset is great so students can keep their hands free, but it isn’t required.</p>
                </div>
            </div>
            <div class="card  mx-auto">
                <div class="card-body">
                    <h5 class="card-title">What is the time commitment?</h5>
                    <p class="card-text">Classes are for 1-hour per session. Practice work is assigned after every class which will take approximately 1-hour to complete. Additional projects and activities will be available for students to explore based on their interests and time availability.</p>
                </div>
            </div>
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">How frequent are these classes?</h5>
                    <p class="card-text">These are live online classes. One session is an hour long.  You can choose a batch as per your convenience. </p>
                </div>
            </div>
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">What if something goes wrong before, during or after I have done my activities?</h5>
                    <p class="card-text">Don’t worry and feel free to contact us by mail or send a query through our website(add the link). At CMS Online Academy, we are always happy to help if there is any problem, question or doubt..</p>
                </div>
            </div>
            <div class="card  mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Where will the classes take place?</h5>
                    <p class="card-text">You can take these classes from anywhere as per your convenience. The class will take place on Google Meet. The link will be available in your dashboard.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}