{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
<title>Shop 3D Prints | FAQ</title>
{% endblock %}

{% block landing-body %}
<!-- FAQ -->
<section class="faq container py-3">
    <div class="text-center"><h1 class="head">FAQ</h1></div>

    <ul class="list-group list-group-flush mx-auto">
        <li class="list-group-item">
            <h3>What materials do you offer?</h3>
            <p>We have different materials for our 3D printing service and our laser cutting service
                with several available finishes. For our 3D printing service, we have PLA, ABS Plastic, Carbon fiber,
                Clear Resin, Grey Resin, Tough Resin, Nylon 66, aluminum, titanium, stainless steel.</p>
        </li>
        <li class="list-group-item">
            <h3>Why was my order or an object in my order canceled?</h3>
            <p>The main reason why an object could be canceled are when the objects are too fragile to
                be printed without causing a risk to our 3D production, The object is cantilevered and if the object was
                printed it would not be to the customer's satisfaction.In the case of any cancellation, you should check
                your emails as an email is sent with a reason for the cancellation.</p>
        </li>
        <li class="list-group-item">
            <h3>How are prices calculated?</h3>
            <p>Pricing is based on a series of factors, including: volume of the object, the size, the
                amount of raw material used, the labor (mainly post printing) and multiple other factors. These are the
                major factors that can affect the price.The cost of your 3D print is automatically calculated the moment
                you upload your 3D file to our site. The calculations are interactive and will change as you modify your
                personalized object and 3D printing options (if no 3D file is provided, a precise price quote cannot be
                established).</p>
        </li>
        <li class="list-group-item">
            <h3>Payment Methods</h3>
            <p>You can also pay via credit card (Visa, Master Card, or Carte Bleu) using Stripe, a
                secure payment system,</p>
        </li>
    </ul>

</section>
{% endblock %}