{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
    <title>CMS Online Academy | Home Page</title>
    <link rel="stylesheet" href="{% static 'styles/landing.css' %}">
{% endblock %}

{% block landing-body %}
    <!-- <section class="banner-top">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                    <img src="{% static 'images/top1.jpg' %}" class="d-block w-100" alt="banner1">
                </div>
                <div class="carousel-item " data-interval="3000">
                    <img src="{% static 'images/top1.jpg' %}" class="d-block w-100" alt="banner2">
                </div>
                <div class="carousel-item" data-interval="3000">
                    <img src="{% static 'images/top1.jpg' %}" class="d-block w-100 " alt="banner3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section> -->

    <!-- BOOK A FREE TRIAL -->
    <section class="container mt-4" >
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <img src="{% static 'images/collage.png' %}" class="img-thumbnail border-0 p-0 m-0"  style="width: 100%; height: 100%;">
            </div>
            <div class="col-md-6 my-auto order-1 order-md-2 text-center text-md-right py-4">
                <h1>CMS ONLINE ACADEMY</h1>
                <p class="text-medium">( Connecting Masters & Students )</p>
                <span class="lead">
					<span class="sub">Get inspired. </span>
					<span class="sub">Get creative. </span>
					<span class="sub">Get productive.</span>
				</span>
                <br>
                <button type="button" class="btn text-light custom-btn my-3"><a href="{% url 'book-trial' %}" class="text-white">Book a free trial</a>
                </button>
            </div>
        </div>
    </section>

    <!-- REGISTER WITH US -->
<!--     <div class="card register-section text-white w-100 h-100">
        <img src="{% static 'images/register.jpg' %}" class="card-img img-fluid" alt="register">
        <div class="card-img-overlay">
            <div class="container">
                <h1 class="card-title ">Register with us</h1>
                <p class="card-text lead ">Learning made fun.<br>Learning made impactful.</p>
                <button type="button" class="btn btn-outline-light " data-toggle="modal" data-target="#register-popup">
                    Register
                </button>
            </div>
        </div>
    </div> -->

    <!-- WHY US -->
    <section class="why-us px-5 py-5 mb-5" style="background: linear-gradient(to right, #033E8C , #0059BF); color: white;">
        <div class="container d-block d-sm-none">
            <div class="centered text-center"><h1 class=" d-inline d-sm-none head">Why us?</h1></div>
            <p class="why-us-con pt-5"><span class="heading">1. Live and Interactive</span><br>We specialize in offering
                one-on-one live classes tailored specifically for your child. Unlike online courses, live classes are
                much more effective as real time interaction helps develop interpersonal skills. We encourage creative
                solutions and logical thinking methodologies in our classes.</p>
            <p class="why-us-con"><span class="heading">2. Personalized Learning</span><br>Your kid will have a personal
                instructor who will stay with them throughout the duration of the course, giving a real learning
                experience. Because of this, the instructor would also learn about your kid’s needs and concentrate on
                areas they struggle with. </p>
            <p class="why-us-con"><span class="heading">3. Learn Anything</span><br>From coding to music, we cover a
                wide range of subjects, from programming to music, with a plethora of courses under each topic! CMS
                Online Academy is a one-stop-shop for all your kid's learning needs.</p>
        </div>
        <div class="row">
            <div id="why-us" class="col-sm-6 list-group d-none d-sm-inline centered text-center">
                <h1 class="head">Why us?</h1>
                <a class="list-group-item list-group-item-action text-medium text-white" href="#point1">1. Live and Interactive</a>
                <a class="list-group-item list-group-item-action text-medium text-white" href="#point2">2. Personalized
                    Learning</a>
                <a class="list-group-item list-group-item-action text-medium text-white" href="#point3">3. Learn Anything</a>
            </div>
            <div class="col-sm-6 my-auto py-5 scrollable d-none d-sm-inline" data-spy="scroll" data-target="#why-us"
                 data-offset="50">
                <p id="point1">We specialize in offering one-on-one live classes tailored specifically for your child.
                    Unlike online courses, live classes are much more effective as real time interaction helps develop
                    interpersonal skills. We encourage creative solutions and logical thinking methodologies in our
                    classes.</p>
                <p id="point2">Your kid will have a personal instructor who will stay with them throughout the duration
                    of the course, giving a real learning experience. Because of this, the instructor would also learn
                    about your kid’s needs and concentrate on areas they struggle with. </p>
                <p id="point3">From coding to music, we cover a wide range of subjects, from programming to music, with
                    a plethora of courses under each topic! CMS Online Academy is a one-stop-shop for all your kid's
                    learning needs.</p>
            </div>
        </div>
    </section>

    <!-- FIND WHAT FASCINATES YOU -->
    <section class="container mb-3 centered text-center">
        <h1 class="head" style="font-size: 25px;">Find what fascinates you</h1>
        <ul class="icon-text list-unstyled list-inline py-2">
            {% for category in all_categories %}
                <a href="{% url 'courses-offered' category.id %}">
                    <li class="list-inline-item text-center"><img
                            src="{% static category.image %}"><br>{{ category.name }}</li>
                </a>
            {% endfor %}
        </ul>
    </section>



    <!-- TRENDING COURSES -->
    <section class="card-group py-5">
        {% for course in trending %}
            <div class=" card trending-course" id="{% if forloop.counter0 %}pink{% else %}blue{% endif %}-trend"
                 style="margin-bottom: 0px;">
                <img src="{% static 'images/banner1.jpg' %}" class="card-img" alt="course-img">
                <div class="card-img-overlay">
                    <div class="ribbon-container">
                        <div class="ribbon">trending</div>
                    </div>
                    <h5 class="text-white">{{ course.name }}</h5>
                    <ul class="list-unstyled text-small text-white">
                        <li>Category: <strong>{{ course.category.category }}</strong></li>
                        <li>Grade: <strong>{{ course.get_grade_display }}</strong></li>
                        <li>Level: <strong>{{ course.level }}</strong></li>
                    </ul>
                    <button type="button" class="btn btn-outline-light find-out-btn-light p-1 px-3">Find out more
                    </button>
                </div>
            </div>
        {% endfor %}
    </section>


    <!-- FRESH COURSES -->
<!--     <section class=" container py-3">
        <div class="row">
            <div class="col-12 col-lg-2 my-auto pb-2 centered text-center">
                <h1 class="head">Fresh Courses</h1>
            </div>
            <div class="col-12 col-lg-10 centered text-center">
                <div class="row justify-content-around">
                    {% for course in fresh %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="#">
                                <div class="card fresh-course hvr-grow">
                                    <img src="{% static 'images/300.png' %}" class="card-img" alt="course-img">
                                    <div class="card-img-overlay img__overlay-fresh">
                                        <h5>{{ course.name }}</h5>
                                        <ul class="list-unstyled text-small">
                                            <li><strong>{{ course.category.category }}</strong></li>
                                            <li>Grade: <strong>{{ course.get_grade_display }}</strong></li>
                                            <li>Level: <strong>{{ course.level }}</strong></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section> -->

    <!-- TESTIMONIALS -->

    <section class="testimonials pb-5 text-center centered">
        <h1 class="head">Testimonials</h1>
        <div id="carousel-test" class="carousel slide" data-ride="carousel" pause="hover">
            <!-- <ol class="carousel-indicators">
                <li data-target="#carousel-test" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-test" data-slide-to="1"></li>
                <li data-target="#carousel-test" data-slide-to="2"></li>
            </ol> -->
            <div class="carousel-inner pt-5 pb-5">
                <div class="carousel-item active" data-interval="5000">
                    <center>
                        <div class="d-block w-100">
                            <div class="img mx-3">
                                <div class="img__overlay"><p class="p-4 text-small-bold"><br>My son is truly able to get a real classroom experience
                                    through live classes.<br><em class="text-tiny">-Michael, <br>Father of 3rd grader</em></p></div>
<!--                                 <img src="{% static 'images/test1.jpg' %}"/> -->
                            </div>
                            <div class="img mx-3 d-none d-md-inline-flex">
                                <div class="img__overlay"><p class="p-4 text-small-bold"><br>I noticed a tremendous improvement in my daughters
                                    enthusiasm and outlook towards active learning thanks to your website!<br><em class="text-tiny">-Anu,
                                        <br>Mother of 5th grader</em></p></div>
<!--                                 <img src="{% static 'images/test2.jpg' %}"/> -->
                            </div>
                            <div class="img  mx-3 d-none d-lg-inline-flex">
                                <div class="img__overlay"><p class="p-4 text-small-bold"><br><br>Live classes have really helped my kid to stay
                                    focused and really engage in every session. Kudos to the team :)<br><em class="text-tiny">-Vanya, <br>Mother
                                        of 1st grader</em></p></div>
<!--                                 <img src="{% static 'images/test3.jpg' %}"/> -->
                            </div>
                        </div>
                    </center>
                </div>
<!--                 <div class="carousel-item " data-interval="5000">
                    <center>
                        <div class="d-block w-100">
                            <div class="img mx-3 ">
                                <div class="img__overlay"><p><br>My son is truly able to get a real classroom experience
                                    through live classes.<br><em>-Michael, <br>Father of 3rd grader</em></p></div>
                                <img src="{% static 'images/test1.jpg' %}"/>
                            </div>
                            <div class="img mx-3 d-none d-md-inline-flex">
                                <div class="img__overlay"><p><br>I noticed a tremendous improvement in my daughters
                                    enthusiasm and outlook towards active learning thanks to your website!<br><em>-Anu,
                                        <br>Mother of 5th grader</em></p></div>
                                <img src="{% static 'images/test2.jpg' %}"/>
                            </div>
                            <div class="img  mx-3 d-none d-lg-inline-flex">
                                <div class="img__overlay"><p><br><br>Live classes have really helped my kid to stay
                                    focused and really engage in every session. Kudos to the team :)<br><em>-Vanya, <br>Mother
                                        of 1st grader</em></p></div>
                                <img src="{% static 'images/test3.jpg' %}"/>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="carousel-item" data-interval="5000">
                    <center>
                        <div class="d-block w-100">
                            <div class="img mx-3 ">
                                <div class="img__overlay"><p><br>My son is truly able to get a real classroom experience
                                    through live classes.<br><em>-Michael, <br>Father of 3rd grader</em></p></div>
                                <img src="{% static 'images/test1.jpg' %}"/>
                            </div>
                            <div class="img mx-3 d-none d-md-inline-flex">
                                <div class="img__overlay"><p><br>I noticed a tremendous improvement in my daughters
                                    enthusiasm and outlook towards active learning thanks to your website!<br><em>-Anu,
                                        <br>Mother of 5th grader</em></p></div>
                                <img src="{% static 'images/test2.jpg' %}"/>
                            </div>
                            <div class="img  mx-3 d-none d-lg-inline-flex">
                                <div class="img__overlay"><p><br><br>Live classes have really helped my kid to stay
                                    focused and really engage in every session. Kudos to the team :)<br><em>-Vanya, <br>Mother
                                        of 1st grader</em></p></div>
                                <img src="{% static 'images/test3.jpg' %}"/>
                            </div>
                        </div>
                    </center>
                </div> -->
                <!-- <a class="carousel-control-prev" href="#carousel-test" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-test" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a> -->
            </div>
    </section>

    <!-- WANT TO KNOW MORE -->
    <section class="px-5 py-5 know">
        <h1>Want to know more?</h1>
        <div class="row centered text-center">
            <div class="col-sm-6 col-md-3 py-2">
                <a href="{% url 'faq' %}" class="hvr-grow">
                    <img src="{% static 'images/7.png' %}">
                    <p>Visit our FAQ page</p>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 py-2">
                <a class="hvr-grow" data-toggle="modal" data-target="#query-popup">
                    <img src="{% static 'images/8.png' %}">
                    <p>Ask a query</p>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 py-2">
                <a href="{% url 'teach-with-us' %}" class="hvr-grow">
                    <img src="{% static 'images/9.png' %}">
                    <p>Teach with us</p>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 py-2">
                <a href="{% url 'about-us' %}" class="hvr-grow">
                    <img src="{% static 'images/10.png' %}">
                    <p>Learn more about us</p>
                </a>
            </div>
        </div>
    </section>
{% endblock %}