{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
    <title>Shop 3d Prints | Courses Offered</title>
{% endblock %}

{% block landing-body %}
    <h1 class="text-center pt-3">{{ category.name }} Courses</h1>
    <section class="container py-3">
        <ul class="list-unstyled list-inline " id="sub-cat">
            <div class="text-center">
                {% for subcategory in category.subcategory_set.all %}
                    <a href="#{{ forloop.counter }}">
                        <li class="list-inline-item heading text-center"><p>{{ subcategory.name }}</p></li>
                    </a>
                {% endfor %}
            </div>
        </ul>
        <div data-spy="scroll" data-target="#sub-cat" data-offset="50">
            {% for subcategory in category.subcategory_set.all %}
                <section class="sub-cat-deck" id="{{ forloop.counter }}">
                    <br>
                    <h3 class="heading pt-5">{{ subcategory.name }}</h3>
                    <hr>
                    <div class="card-deck sub-cat-cards justify-content-center py-2">
                        {% for course in subcategory.course_set.all %}
                            <div class="card mx-auto">
                                <a href="{% url 'product-details' course.id %}">
                                    {% if course.thumbnail %}
                                        <img src="{{ course.thumbnail.url}}" class="card-img-top" alt="course-img">
                                    {% else %}
                                        <img src="{% static 'images/300.png' %}" class="card-img-top" alt="course-img">
                                    {% endif %}
                                    <div class="card-body">
{#                                        <div class="ribbon-container">#}
{#                                            <div class="ribbon">trending</div>#}
{#                                        </div>#}
                                        <h5>{{ course.name.upper }}</h5>
                                        <ul class="list-unstyled text-small">
                                            <li>Category: <strong>{{ course.category.category }}</strong></li>
                                            <li>Grade: <strong>{{ course.get_grade_display }}</strong></li>
                                            <li>Level: <strong>{{ course.level }}</strong></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>
    </section>
{% endblock %}