{% extends 'landing/landing-base.html' %}
{% load static %}

{% block head %}
    <title>Shop 3D Prints | Products Offered</title>
{% endblock %}

{% block landing-body %}
    <h1 class="text-center pt-3">{{ category.name }} Technology</h1>
    <h3 class="text-center pt-3">Product details</h3>
    <section class="container py-3">
        <form action="{% url 'add_to_cart' %}" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" name="name" id="name" required/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" required></textarea>
            </div>
            <div class="form-group">
                <label for="material_list">Available materials</label>
                <select name="material" class="form-control" id="material_list" required>
                    {% for cat_mat in category_material.all %}
                    <option value="{{cat_mat.material.pk}}">{{ cat_mat.material.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="material_list">Density</label>
                <select name="density" class="form-control" id="density_list" required>
                    {% for den in density_list.all %}
                    <option value="{{den.pk}}">{{ den.value }}%</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="material_list">Layer Height</label>
                <select name="layer_height" class="form-control" id="layer_height_list" required>
                    {% for lh in layer_height_list.all %}
                    <option value="{{lh.pk}}">{{ lh.start_value }} - {{lh.end_value}} {{lh.unit}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="stl_file">Upload CAD file (supported format: stl)</label>
                <input type="file" accept=".pdf, application/vnd.sealedmedia.softseal.pdf" class="form-control-file" id="stl_file" name="stl_file" required/>
            </div>
            <input type="number" value="{{me.pk}}" name="customer_id" hidden>
            <input type="number" value="{{category.pk}}" name="category" hidden>
            {% if me %}
                <button type="submit" class="btn btn-large custom-btn">Add to product cart</button>
            {% else %}
                <button  onclick="showAlert('Login required', 'Login or register to add products to cart')" class="btn btn-large custom-btn">Add to product cart</button>
            {% endif %}
        </form>
    </section>
{% endblock %}